.header__button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header__text_button {
    font-weight: 700;
    font-family: "Nunito Sans";
    font-size: 1.2rem;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {

    .header__text_button {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 1440px) {
    
    .header__text_button {
        font-size: 1.6rem;
    }

}
